[Unit]
Description=Start tmux server

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
ExecStart=/bin/tmux -f /home/beardad/.tmux.conf new-session -d -c /home/beardad -s ArchWSL2
ExecStop=/bin/tmux kill-server
KillMode=none
User=beardad
Group=beardad
